{% extends 'base.html.twig' %}

{% block title %}Tasks done{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('CSS/finishedTasks.css') }}">
{% endblock %}

{% block body %}
    <div class="sidebar">
        <!-- Profile Image -->
        <div class="profile-container">
            <a href="{{ path('app_profil') }}">
            {% if user.image %}
                <img src="{{ asset('uploads/profiles/' ~ user.image) }}" alt="Profile Picture" class="profile-img">
            {% else %}
                <img src="{{ asset('images/emptyprofilimage.png') }}" alt="Profile Picture" class="profile-img">
            {% endif %}
            </a>
            <p><b>{{user.username}}</b></p>
        </div>

        <ul class="sidebar-links">
            <li><a href="{{ path('app_add_task') }}">Add Task</a></li>
            <li><a href="{{ path('app_my_tasks') }}">My Tasks</a></li>
            <li><a href="{{ path('app_finished_tasks') }}">Tasks Done</a></li>
            <li><a href="{{ path('app_logout') }}">Log out</a></li>

        </ul>
    </div>
    <main>
            <div class="main-container">
                <div class="tasks-container">
                   
                    {% for task in tasks %}
                        {% if task.isCompleted == true %}

                            <div class="task-container" data-task-id="{{ task.id }}">
                                    <h3>{{task.title}}</h3>
                                    <b>{{task.duration}}</b>
                                    <p>{{task.description}}</p>
                                    <button id="remove {{task.id}}" class="remove">Remove</button>
                                   
                            </div>
                        {% endif %}
                    {% endfor %}  
                </div>
            </div>    
    </main>
    {% block javascripts %}
        <script src="{{ asset('JS/doneRemoveTaskScript.js') }}"></script>
    {% endblock %}
    
{% endblock %}
